body{
	font-family: sans-serif;
	background-color: lightgrey;
}
.weather{
	background-color: white;
	width:400px;
	box-sizing: border-box;
	border-radius: 15px;
	padding:20px;
}
.city{
	width:200px;
	height:20px;
	border-radius: 5px;
	margin: 10px 20% 20px 20%;
	border:1px solid grey;
	padding:4px;
}
.res{
	margin-left: 40%;
	border-radius: 5px;
	padding:5px 10px;

}
.weather table{
	margin: 20px;
	border:1px solid black;

}
.weather table td{
	border:1px solid black;
	width:160px;
	height:10px;
	font-size:14px;
	padding:8px;
}